/config/.env

# Python virtual env
venv/
.venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# IDE settings
.vscode/
.idea/

# MacOS
.DS_Store

/data/cache/
/data/features/
/data/historical/
/data/train_dataset.parquet