# add project dependencies here
# kafka-python==2.0.2
# feast==0.18.0
# lightgbm==3.3.2
feast
lightgbm
scikit-learn
mlflow
wandb

# code style & linting
black>=25.1.0
isort>=5.10.1
flake8>=7.3.0
pre-commit

optuna>=3.0.0

python-dotenv